.bg-dark {
    color: whitesmoke;
}

.bg-danger {
    color: aliceblue;
    width: 100%;
}

#box {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
}

input {
    margin-left: 20px;
    align-self: center;
    width: 80%;
    padding: .3em .5em;
    border-radius: 7px;
    display: block;
}

.btn {
    width: 80%;
}

@media screen and (min-width: 750px) {
    input {
        max-width: 500px;
    }
    .btn {
        width: 500px;
    }
}